POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=test
POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERPASSWORD=postgres

# Application users (from db/init/04_roles_users.sql)
USER_ADMIN=user_admin
USER_HR=user_hr
USER_PRODUCTION=user_production
